
# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.net

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=America/New_York

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=sammy@example.net


# Postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=n8n-db
POSTGRES_USER=n8n-user



# SMTP
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=smtp.resend.com
N8N_SMTP_PORT=2465
N8N_SMTP_USER=resend
N8N_SMTP_PASS=re_JR9uYbXXXXXXX
N8N_SMTP_SENDER=n8n-XXXX@example.com